
{% block title %}<h1>Flight List Table</h1>{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Flight ID</th>
            <th>Airline</th>
            <th>routeID</th>
            <th>AirplaneStatus</th>
            <th>Progress</th>
            <th>Next Time</th>
        </tr>
    </thead>
    <tbody>
    {% for flight in flights %}
        <tr>
            <td>{{ flight.flightid }}</td>
            <td>{{flight.airline}}</td>
            <td>{{ flight.routeid }}</td>
            <td>{{flight.airplane_status}}</td>
            <td>{{flight.progress}}</td>
            <td>{{flight.next_time}}</td>
            <td>{{flight.cost}}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6">No flights found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}