/* SimulationCycle specific styles */
.procedure-description {
  background-color: #efeded;
  padding: 10px 15px;
  margin-bottom: 15px;
  color: black !important;
}

.procedure-form p {
  color: black !important;
}
